@import '__base.sass';


$dark: rgb(50, 50, 50)
$light: $color-2

#footer
    background: $dark
    border: 1px solid black
    height: 3rem
    width: 100vw
    display: table
    overflow: hidden
    
#footer-content
    color: $light
    display: table-cell
    vertical-align: middle
    text-align: center
    opacity: 0.8