@import '__base.sass';


#footer
    background: $dark-color
    border: 1px solid black
    height: $footer-height
    width: 100vw
    display: table
    overflow: hidden
    
#footer-content
    color: $light-color
    display: table-cell
    vertical-align: middle
    text-align: center
    opacity: 0.8