@import '__base.sass';


$headerHeight: 4rem
$footerHeight: 3rem

main
    background-color: ivory
    min-height: calc(100vh - 7rem)
    postion: fixed
    left: 0
    top: 0
    margin-top: $headerHeight
    padding: 0